[submodule "services/data-gateway"]
	path = services/data-gateway
	url = https://github.com/munzz11/data-gateway
[submodule "web/map-dashboard"]
	path = web/map-dashboard
	url = https://github.com/munzz11/map-dashboard
[submodule "services/data-ingestion-scanner"]
	path = services/data-ingestion-scanner
	url = https://github.com/munzz11/data-ingestion-scanner
