[submodule "services/data-gateway"]
	path = services/data-gateway
	url = https://github.com/munzz11/data-gateway
[submodule "web/data-gateway"]
	path = web/data-gateway
	url = https://github.com/munzz11/data-gateway
